# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/

# PyInstaller / Build (Windows Desktop App)
build/
dist/
*.spec

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
